.testimonial {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #2545B8;
    padding: 1em 2em;
    margin: 1em auto;
    width: 80%;
    color: white;
    height: 250px;
}

.img {
    margin-right: 1.2em;
}

.img img {
    width: 260px;
    height: 310px;
    position: relative;
    bottom: -0.9em;
}

.para img {
    height: 45px;
    width: 45px;
}

.quote {
    font-size: 1.1rem;
    font-weight: 400;
    margin: 1em 0;
}

.author {
    font-size: 0.9rem;
    font-weight: 600;
    margin: 0.25em 0;
}

.position {
    font-size: 0.85rem;
    font-weight: 400;
}